.fixed-center {
    position: fixed;       /* tetap di layar saat scroll */
    top: 50%;              /* posisi vertical 50% */
    left: 50%;             /* posisi horizontal 50% */
    transform: translate(-50%, -50%); /* geser agar benar-benar di tengah */
    color: rgb(255, 0, 0);
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 1000;         /* tetap di atas konten */
    text-align: center;
  }

   .fixed-text {
    position: fixed;      /* tetap di layar saat scroll */
    bottom: 20px;         /* jarak dari bawah */
    right: 20px;          /* jarak dari kanan */
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 1000;       
  }

   .bg-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* harus lebih kecil dari konten */
}