head
.logo{
   
    align="center"
    padding-bottom: 20px;
}
  
  
body {
    font-family: 'IM Fell DW Pica', serif;
    font-size: small; 
    height: 100vh;
    margin-left: 45px;
    margin-top: 30px;
 
  } 

.container {
  display: flex;
  gap: 20px;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;}


/* Responsive untuk layar kecil (HP) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* dari horizontal jadi vertikal */
    padding: 10px;
  }

  img {
    max-width: 100%; /* gambar mengecil otomatis */
    height: auto;
  }

  h1 {
    font-size: 24px; /* teks judul lebih kecil */
  }


