head
.logo{
   
    align:"center"
    padding-bottom: 20px;
}
  
  
body {
    font-family: 'IM Fell DW Pica', serif;
    font-weight:  12px;-small
    height: 14px;
    margin-left: 45px;
    margin-top: 30px;}

 .link{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 12px;
  align-content: center;
 }

 .clickable-text {
  font-size: 1.2rem;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.clickable-text:hover {
  color: #ffffff; /* efek saat hover */
}
.container {
 flex-direction: row;
 flex-wrap: wrap;
}
 .item
 {flex-basis: 200;}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
h1, h2, h3, h4, h5, h6, p {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

/* Responsive image */
img {
  max-width: 100%;
  height: 90px;
  display: block;}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;}



